[Unit]
Description=Postfix service container
Documentation=http://www.postfix.org/documentation.html
After=docker.service

[Service]
Type=simple
ExecStart=/usr/local/docker/postfix/postfix.sh -e prod start
ExecReload=/usr/local/docker/postfix/postfix.sh reload
ExecStop=/usr/local/docker/postfix/postfix.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target

